SECRET_KEY=

DEBUG=True

# Redis

REDIS_USER=

REDIS_PASSWORD=

REDIS_HOST=127.0.0.1

# RabbitMQ

RABBITMQ_DEFAULT_USER=guest

RABBITMQ_DEFAULT_PASS=guest

RABBITMQ_HOST=127.0.0.1

# Google Sheets API [Only for testing and development purposes]

GOOGLE_SHEETS_SERVICE_ACCOUNT_FILE=/path/to/service_account.json

GOOGLE_SHEET_API_KEY=
