[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
django = "*"
django-celery-beat = "*"
django-cors-headers = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-import-export = "*"
django-mcp-server = "*"
django-oauth-toolkit = "*"
django-oauth-toolkit-dcr = "*"
django-redis = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dotenv = "*"
drf-spectacular = "*"
factory-boy = "*"
graphene-django = "*"
gspread = "*"
httpx = "*"
markdown = "*"
orjson = "*"
pandas = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
pyairtable = "*"
pydantic = "*"
pyarrow = "*"
requests = "*"
unidecode = "*"
zstd = "*"

[dev-packages]

[requires]
python_version = "3.13"
